@charset "UTF-8";

.container {
  width: 1152px;
  margin: 0 auto;
}

/* ここからヘッダー */
header {
  height: 128px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#main-nav {
  display: flex;
  margin-right: 1.15rem;
}

#main-nav li a {
  margin-left: 1.76rem;
  font-size: .77rem;
  text-decoration: none;
  color: #707070;
}

/* ここからメイン */
.main-box {
  position: relative;
}

.top-left {
  width: 20.9%;
  position: absolute;
  top: -117px;
  left: 0;
  z-index: 1;
}

.main-image {
  display: flex;
  justify-content: center;
}

.bottom-right {
  position: absolute;
  bottom: -9px;
  right: 3px;
  z-index: 1;
}

.main-text {
  margin-top: 1.3rem;
  font-size: 1.35rem;
  letter-spacing: .156rem;
}

/* ここからセクション */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-size: 1.48rem;
  margin-top: 5.6rem;
  margin-bottom: 1.62rem;
  height: 3.1rem;
}

.articles {
  width: 66rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  min-height: 100vh;
}

.article {
  margin-bottom: 1.2rem;
  transition: all .4s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-text {
  width: 18rem;
  height: 15rem;
  position: relative;
}

.article:hover {
  box-shadow: 1px 1px 12px rgba(0,0,0,.65);
}

.article-img {
  width: 320px;
  height: 206px;
}

.article-date {
  font-size: .9rem;
  margin: 1rem 0;
}

.article-title {
  font-size: 1rem;
  line-height: 1.2rem;
  flex-wrap: wrap;
}

.read-more {
  font-size: .72rem;
  display: flex;
  justify-content: flex-end;
  letter-spacing: -0.02rem;
  position: absolute;
  top: 9.65rem;
  left: 13.63rem;
}

.read-more a {
  color: #707070;
  display: block;
  padding: 0 0 1rem;
  position: relative;
  text-decoration: none;
}

.read-more a::after {
  border-bottom: solid 2px #707070;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 0;
}

.read-more a:hover::after {
  width: 100%;
}

/* ここからフッター */
footer {
  height: 8rem;
  color: white;
  background-color: black;
  font-size: 1rem;
  letter-spacing: -.02rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

footer span {
  letter-spacing: -.07rem;
}

footer p {
  /* padding-left: -1rem; */
  padding-bottom: .2rem;

}