@charset "UTF-8";
body {
  background-color: pink;
}
.container {
  width: 1152px;
  margin: 0 auto;
}

/* ここからヘッダー */
header {
  height: 128px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: -1.5rem;
}
#main-nav {
  display: flex;
  margin-right: 1.15rem;
}
#main-nav li a {
  margin-left: 1.76rem;
  font-size: .77rem;
  text-decoration: none;
  color: #707070;
}

/* ここからハンバーガーメニュー */
.nav_toggle {
  display: block;
  position: relative;
  top: 2rem;
  left: 90%;
  width: 1.75rem;
  height: 1.5rem;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
}
.nav {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 15rem;
  background-color: #f5f5f5;
  z-index: 2;
}
.nav {
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
}
.nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav li {
  margin: 1.8rem auto;
  font-weight: bold;
}
.nav li a {
  color: gray;
  text-decoration: none;
  margin: 1rem auto;
  margin-left: 0rem;
}
.nav.show {
  opacity: 1;
  visibility: visible;
}
.nav_toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
  transition: transform .5s, opacity .5s;
}
.nav_toggle i:nth-child(1) {
  top: 0;
}
.nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.nav_toggle i:nth-child(3) {
  bottom: 0;
}
.nav_toggle.show i:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}
.nav_toggle.show i:nth-child(2) {
  opacity: 0;
}
.nav_toggle.show i:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

/* ここからメイン */
.main-box {
  position: relative;
}
.top-left {
  width: 20.9%;
  position: absolute;
  top: -117px;
  left: 0;
  z-index: 1;
}
.fade-pc {
  width: 1024px;
  height: 448px;
}
.fade-pc img {
  position: absolute;
}
.fade-sp {
  width: 750px;
  height: 554px;
}
.fade-sp img {
  position: absolute;
}
.main-image {
  display: flex;
  justify-content: center;
}
.bottom-right {
  position: absolute;
  bottom: -9px;
  right: 3px;
  z-index: 1;
}
.main-text {
  margin-top: 1.3rem;
  font-size: 1.35rem;
  letter-spacing: .156rem;
}

/* ここからセクション */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subtitle {
  font-size: 1.48rem;
  margin-top: 5.6rem;
  margin-bottom: 1.62rem;
  height: 3.1rem;
}
.articles {
  width: 66rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  min-height: 100vh;
}
.article {
  margin-bottom: 3.9rem;
  transition: all .4s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article-text {
  width: 18rem;
  height: 12.3rem;
  position: relative;
}
.article:hover {
  box-shadow: 1px 1px 12px rgba(0,0,0,.65);
}
.article-img {
  width: 320px;
  height: 206px;
}
.article-date {
  font-size: .9rem;
  margin: 1rem 0;
}
.article-title {
  font-size: 1rem;
  line-height: 1.2rem;
  flex-wrap: wrap;
}
.read-more {
  font-size: .72rem;
  display: flex;
  justify-content: flex-end;
  letter-spacing: -0.02rem;
  position: absolute;
  top: 9.65rem;
  left: 13.63rem;
}
.read-more a {
  color: #707070;
  display: block;
  padding: 0 0 1rem;
  position: relative;
  text-decoration: none;
}
.read-more a::after {
  border-bottom: solid 2px #707070;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 0;
}
.read-more a:hover::after {
  width: 100%;
}

/* ここからフッター */
footer {
  height: 8rem;
  color: white;
  background-color: black;
  font-size: 1rem;
  letter-spacing: -.02rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
footer span {
  letter-spacing: -.07rem;
}
footer p {
  padding-bottom: .2rem;
}

@media screen and (min-width: 768px) {
  .nav {
    display: none;
  }
  .left-sp {
    display: none;
  }
  .top-image-sp {
    display: none;
  }
  .main-text-sp {
    display: none;
  }
  .article-sp {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .header-sp {
    height: 278px;
    display: flex;
    justify-content: center;
  }
  .header-sp nav {
    display: none;
  }
  .nav_toggle {
    display: block;
    position: relative;
    top: -15rem;
    width: 1.75rem;
    height: 1.5rem;
    display: flex;
  }
  .nav_toggle {
    opacity: 3;
    visibility: visible;
    transition: opacity .5s, visibility .5s;
  }
  #main-nav li a {
    margin-left: 0rem;
    font-size: 1.8rem;
    color: black;
  }
  .top-left {
    display: none;
  }
  .left-sp {
    width: 216px;
  }
  .main-box {
    position: relative;
  }
  .top-image {
    display: none;
  }
  .bottom-right {
    position: absolute;
    top: 5%;
    left: 3%;
    z-index: 1;
  }
  .main-text {
    display: none;
  }
  .main-text-sp {
    margin-top: 1.3rem;
    font-size: 1.35rem;
    letter-spacing: .156rem;
    text-align: center;
    line-height: 35px;
  }
  .subtitle {
    font-size: 2.5rem;
    margin-top: 35px;
    margin-bottom: 1.62rem;
    height: 3.1rem;
    font-weight: lighter;
  }
  .articles {
    width: 100%;
    margin-bottom: 2rem;
  }
  .article {
    width: 85%;
  }
  .article-img,
  .article-img img
   {
    display: block;
    width: 100%;
    height: auto;
  }
  .article-text {
    width: 90%;
    height: 20rem;
    position: relative;
  }
  .article-date {
    font-size: 1.3rem;
    margin: 1rem 0;
  }
  .article-title {
    font-size: 1.3rem;
    line-height: 1.2rem;
  }
  .read-more {
    font-size: 1.3rem;
    letter-spacing: -0.02rem;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 15rem;
    right: 0;
  }
}